<div class= "form-inline">
  <% @project.memberships.each do |membership| %>
    <%= form_for [@project, membership] do |f| %>
    <div class="form-group col-md-2">
      <%= link_to membership.user.fullname, user_path(membership.user) %>
    </div>
    <div class="form-group col-md-2">
      <%= f.select :role, Membership.roles.keys.map {|role| [role.titleize,role]}, {include_blank: false}, class: "form-control" %>
    </div>
      <%= f.submit 'Update', class: 'btn btn-sm btn-primary' %>
    <div class="pull-right">
      <%= link_to project_membership_path(@project, membership), method: :delete do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
<br><br>
    <% end %>
  <% end %>
</div>
