
<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_task_path, class: 'btn btn-info' %>
    <%= link_to 'Delete', project_task_path(@project, @task), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <h1><strong><%= @task.description %></strong></h1>
</div>


<ol class="breadcrumb">
  <li>
    <%= link_to 'Projects', projects_path %>
  </li>
  <li>
    <%= link_to @project.name, project_path(@project) %>
  </li>
  <li>
    <%= link_to 'Tasks', project_tasks_path(@project) %>
  </li>
  <li><class="active">
    <%= @task.description %>
  </li>
</ol>

<b>Due on:</b>
  <%= @task.due_date.strftime("%m/%d/%Y") %>
<br>
<br>
<b>Complete:</b>
  <%= @task.complete %>
    <% if @task.complete == nil %>
      <%= false %>
    <% end %>
<br>
<br>

<%= link_to 'back', project_tasks_path(@project), class: 'btn btn-default' %>
