
<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_task_path, class: 'btn btn-info' %>
    <%= link_to 'Delete', project_task_path(@project, @task), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <h1><strong><%= @task.description %></strong></h1>
</div>


<ol class="breadcrumb">
  <li>
    <%= link_to 'Projects', projects_path %>
  </li>
  <li>
    <%= link_to @project.name, project_path(@project) %>
  </li>
  <li>
    <%= link_to 'Tasks', project_tasks_path(@project) %>
  </li>
  <li><class="active">
    <%= @task.description %>
  </li>
</ol>

<b>Due on:</b>
  <%= @task.due_date.strftime("%m/%d/%Y") %>
<br>
<br>
<b>Complete:</b>
  <%= @task.complete %>
    <% if @task.complete == nil %>
      <%= false %>
    <% end %>
<br>
<br>

<h3>Comments</h3>
    <% @task.comments.each do |comment| %>
      <div class="row">
          <div class="col-md-3">
            <%= link_to "#{comment.user.fullname}", user_path(comment.user) %>
            <br>
            <p class="text-muted">
              <%= time_ago_in_words(comment.created_at) %>
            </p>
          </div>
          <div class="col-md-9">
            <%= comment.remark %>
          </div>
      </div>
<br>
    <% end %>

<br>

<%= form_for [@project, @task, @comment] do |f| %>
  <div class="col-md-9 col-md-offset-3">
      <%= f.text_area :remark, rows: 5, cols: 90 %>
      <br>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    </div>
<% end %>
