
<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>

<%= render partial: 'shared/errors', locals: {object: @user} %>

<div class="form-group">
  <label class= "control-label col-md-2">
    <%= f.label :first_name %>
  </label>
  <div class= "col-md-4">
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class= "control-label col-md-2">
    <%= f.label :last_name %>
  </label>
  <div class= "col-md-4">
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class= "control-label col-md-2">
    <%= f.label :email %>
  </label>
  <div class= "col-md-4">
    <%= f.email_field :email, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class= "control-label col-md-2">
    <%= f.label :password %>
  </label>
  <div class= "col-md-4">
    <%= f.password_field :password, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class= "control-label col-md-2">
    <%= f.label :password_confirmation %>
  </label>
  <div class= "col-md-4">
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
</div>

 <div class="form-group">
   <div class="col-md-offset-2 col-md-4">
     <%= f.submit class: "btn btn-primary" %>
     <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>


   <% if @user.id.present? %>
     <div class="pull-right">
       <%= link_to 'Delete User', user_path, method: :delete, class: 'btn btn-danger' %>
     </div>
   <% end %>


  </div>
 </div>
</form>

<br>
<br>
<br>
<br>
<hr>
<% end %>
