<div class= "page-header">
  <div class="pull-right">
    <%= link_to 'New user', new_user_path, class: 'btn btn-info' %>
  </div>
  <h1>Users</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.fullname, user %> </td>
        <td><%= mail_to "#{user.email}" %></td>
          <td class="text-right">
            <% if user == current_user %>
              <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info' %>
              <%= link_to 'Delete', user, class: 'btn btn-danger',
              method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
