<div class="jumbotron">
    <h1>Tasker</h1>
    <p>Your life, organized.</p>
</div>

<div class="row">

  <div class="col-md-4">
    <p class="lead">
      <%= image_tag 'imageleft.jpg', class: "img-responsive" %>
    </p>
    <div class="panel panel-primary">
      <div class="panel-heading">Tasks</div>
      <div class="panel-body">
        <p>Grouped by projects and lists, just the way you like 'em</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <p class="lead">
      <%= image_tag 'imagecenter.jpg', class: "img-responsive" %>
    </p>
    <div class="panel panel-primary">
      <div class="panel-heading">Documents</div>
      <div class="panel-body home-panel">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
      <p class="lead">
        <%= image_tag 'imageright.jpg', class: "img-responsive" %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">Comments</div>
        <div class="panel-body home-panel">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
</div>

    <% @quotes.each do |quote| %>
        <%= quote[0] %>
        <p class="text-muted"><em>- <%= quote[1] %> </em></p>
    <% end %>
